<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_atom"
        android:label="Periodic"
        android:roundIcon="@drawable/ic_atom"
        android:supportsRtl="true"
        android:theme="@style/Theme.Periodic">

        <activity android:name=".ScaleJourneyActivity" android:exported="false" android:screenOrientation="sensorLandscape" />
        <activity android:name=".ExploreActivity" android:exported="false" android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".ElementDetailActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
